<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 copyright">
        Exchange
      </div>
      <div class="col-sm-6 menu">
        <ul>
          <li class="navbar_item">
            <%= link_to 'Status', pages_status_path %>
          </li>
          <li class="navbar_item">
            <%= link_to 'About', pages_about_path %>
          </li>
          <li class="navbar_item">
            <%= link_to 'Contact', pages_contact_path %>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 social">
        <%= image_tag("social-tw.png") %>
        <%= image_tag("social-dbl.png") %>
      </div>
    </div>
  </div>
</div>